ul {
    margin: 2px 0;
}

/* navigation */
nav {
    height: 50px;
    min-width: 220px;
    font-size: 18px;
    font-family: Verdana, arial, serif;
    padding: 0 0;
    margin: 0 38px 0 112px;
}
nav > ul {
    margin: 0 0;
    padding: 10px 10px 0 10px;
    list-style-type: none;
    width: auto;
    float: left;
}
nav > ul li {
    display: block;
    float: left;
    margin: 0 0;
    padding: 4px 1px 0 1px;
}
nav > ul li a {
    display: block;
    float: left;
    color: #b5b5b5;
    text-decoration:none;
    padding: 1px 10px;
}
nav > ul li a:hover {
    color: #fff;
    text-align: center;
}

nav > ul li.current_page_item a {
    color: #fff;
    text-decoration: underline;
    text-underline-offset: 8px;
}
/* navigation end*/

.layout-container {
    margin: 2px 6px;
    padding: 6px 8px;
    border: 0;
    min-height: 92vh;
    min-width: 1024px;
}

.main-container {
    margin: 8px 14px;
}

.inner-container {
    margin: 14px 12px;
}

.tool-bar-container {
    margin: 0 0;
    padding: 12px 12px;
    background-color: #303030;
}

.main-panel {
    height:100%;
    padding: 0 0;
    margin: 0 0 10px 0;
    border: 0 solid #FFFFFF;
    font-size: 1.25rem;
    font-weight: 700;
    background-color: #121212;
}

.side-bar-panel {
    height: 100%;
    min-width: 233px;
    padding: 0 0;
    margin: 0 0 20px 0;
    border: 0 solid #FFFFFF;
    font-size: 1.25rem;
    font-weight: 700;
    background-color: #121212;
}

.side-tabs {
    width: 100%;
    margin-bottom: 12px;
    padding: 0;
}

.side-tabs .MuiTab-root {
    text-align: right;
    margin: 1px 0 0 0;
    padding: 10px 14px;
    background-color: #303030;
}

.side-tabs-dynamic-item {
    background-color: transparent !important;
}

.main-tabs {
    padding: 0 0;
}

.position-right {
    float: right;
}

.large-font {
    font-size: large !important;
}

.navigation-logo {
    display: block;
    min-height: 38px;
    min-width: 128px;
    padding: 0;
    margin: 0 6px 0 6px;
    background: url(/public/images/logo-jumkid-red.png) no-repeat top left;
    background-size: contain;
    cursor: pointer;
}

.navigation-user-tools {
    width: 100%;
    text-align: right;
}

.navigation-user-menu {
    min-width: 148px;
}