.dashboard-box {
    padding: 0 0;
    margin: 0 0;
    border: 0 solid #FFFFFF;
    border-radius: 16px;
    font-size: 1.25rem;
    font-weight: 700;
    background-color: #000;
    opacity: 0.9;
}
.dashboard-list-box {
    padding: 18px;
}
.dashboard-viewer-box {
    padding: 18px 28px;
}


.MuiCard-root {
    float: left;
    width: 238px;
    height: 138px;
    padding: 12px;
    margin: 2px 8px;
    cursor: pointer;
    color: #FFF !important;
    font-size: 1.25rem;
    font-weight: 700;
    border-radius: 16px !important;
    border: 1px solid #FFFFFF;
    background-color: #4d4d4d !important;
    opacity: 0.9;
}

.MuiTabs-indicator {
    width: 8px !important;
}

button#connect-car {
    margin-bottom: 12px;
    font-size: 14px;
    border-radius: 28px;
}
