.vin-search-com {
    margin: 10px 2px;
}

.vin-search-com input {
    float: left;
    padding: 8px 4px;
    width: 320px;
}

.vin-search-com button {
    width: 60px;
    margin: 10px 2px 2px 28px !important;
}