.user-notify-drawer {
    padding: 0 2px;
}

.user-notify-drawer .MuiDrawer-paper {
    width: 300px;
    background-color: transparent;
    padding: 8px;
}

.user-notify-drawer .MuiListItem-root{
    margin: 3px;
    background-color: #000;
    border-radius: 4px;
}

.user-notify-drawer .MuiListItemText-root {
    cursor: pointer;
    margin-right: 2px;
}