.auto-login {
    text-align: center;
    min-width: 428px;
    background: url(../../public/images/user-auto-login.png) no-repeat center #FFF;
    padding: 360px 10px 10px 10px;
    border-radius: 16px !important;
}